# Supprimer la ligne ci-dessous si vous voulez hériter les paramètres .editorconfig des répertoires supérieurs
#root = true

# Fichiers C#
[*.cs]

# CA1707: Les identificateurs ne doivent pas contenir de traits de soulignement
dotnet_diagnostic.CA1707.severity = none
